/* Import for Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Open Sans;
        background-color: rgb(30, 30, 30);
        color: white;
        scroll-snap-type: y mandatory;
    }
}